
.carousel{
    padding: 10%;
}
img{

    width: 10%;
    height: 10%;
}

button{
    padding-top: 40%;
    margin-left: 45%;
}

.card-para{
    text-align: center;
}
.form-group{
   padding-left: 20px;
}
