
.carousel{
    padding: 10%;
}
 img{
    height: 10%;
    width: 10%;
}
button{
    padding-top: 40%;
    margin-left: 45%;
   
}

.card-deck{

padding-top: 10%;
}
.card-title {
    text-align: center;
   font-size: 40px;
}
p{
    font-size: 20px;
}
.card-body{
    background-color: rgb(128, 180, 189);
}
@media only screen and (max-width:920px){
    button{
       
        margin-left: 35%;
    }

}

